// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{margin:0; padding:0;}

#main_stage{
  position:absolute;
  top:100px; bottom:100px; right:100px; left:100px; border:1px solid #999;
  overflow:hidden;
}
